
<h1>  Phversus </h1>

<center>
  <% if user_signed_in? %>
    Based on: <%= @tag_based_on_user %> : 
    
  <% end %>
  <h2> #  <%= @tag %>  </h2>
</center>

<table align="center">
  <tr>
    <td>
        <% if user_signed_in? %>
          <%= link_to(vote_up_home_path(@media_left), :method => :post, :class => "upVote") do %>
              &#9650;<br />
              <span><%=@media_left.votes_for%></span>
          <% end %>
        <% end %>

        <%=image_tag(@picture_left, alt: "phVersus Example Image")%>
        <p>phVersus Example Image</p>
    </td>
    <td>
        <% if user_signed_in? %>
          <%= link_to(vote_up_home_path(@media_right), :method => :post, :class => "upVote") do %>
              &#9650;<br />
              <span><%=@media_right.votes_for%></span>
          <% end %>
        <% end %>
        <%=image_tag(@picture_right, alt: "phVersus Example Image")%>
        <p>phVersus Example Image</p>
    </td>
  </tr>
</table>